@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700');

:root{
    --font-heading:'PT Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

input, 
button, 
select, 
textarea {
    font-family : inherit;
    font-size : inherit;
}

button {
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
}

h1,h2,h3,h4,h5 ,h6{
    font-family:var(--font-heading);
}

/* COMMON */
.container {
    width:1170px;
    margin-left: auto;
    margin-right: auto;
}

/* top-page */

.top-page {

    min-height: 496px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(../image/bg-banner.jpg) no-repeat center / cover;
    margin-bottom: 110px;
}

.top-page .inner {
    display:flex;
}

.header {
    display: flex;
    min-height: 60px;
    margin-top: 40px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

}

.header .listnav {
    display: flex;
    align-items: center;
    width:878px;
    height:48px;
    justify-content: center;

}
.header .listnavchild {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.listnavchild {
    position:relative;

}
.subhome:hover .subnavchild {
    visibility:visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.subnavchild  {
    position: absolute;
    top:38px;
    background-color: white;
    width: 217px;
    visibility:hidden;
    opacity: 0;
    transform:translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
     pointer-events: none;
}

.listnavchild .subnavchild > li:hover {
    background-color: #b80257;
}

.subnavchild li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    line-height: 50px;
  
}

.subnavchild li:last-child{
    border-bottom: none;
}



.subnavchild li:hover a {
    color:white;
    transform: translateX(5px);
}

.subnavchild li > a {
    display: block;
    position:relative;
    z-index: 1;
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 15px;
    padding-left: 30px;
    transform: translateX(0px);
    transition: transform linear 500ms;
}

.formsearch{
    position:absolute;
    width: 100%;
    height:100%;
    border:1px solid rgba(0, 0, 0, 0.09)
    
}

.listnavchild > li > a {
    font-size: 15px;
    padding:  30px;
    text-decoration: none;
    color:white;
}

.user-actions{
    display: flex;
}

.action-btn , .action-btn-cart{
    font-size: 15px;
    color: white;
    padding :10px;
}

.action-btn {
    position: relative;
    
}

.search-wrapper{
    position: absolute;
    top:90px;
    right: 281px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:300px;
    height:50px;
    background-color: white;
    display: none;
}

.search-wrapper input {
    position:relative;
    top: 5px;
    right: 5px;
    width:90%;
    height:80%;
    margin: 0px 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    
}

.search-wrapper i {
    position:absolute;
    top: 5px;
    right:6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #b80257;
    color:white;
    font-size:20px;
}

.action1{
    display: flex;
    align-items: center;
}

input[type="checkbox"]:checked ~ .search-wrapper{
    display: inline-block;
}



.page-title {
    display: flex;
    color:white;
    height:396px;
    align-items: center;
    justify-content: center;
}
.page-title .breadcrumdpage{
    text-align: center;
}
.page-title p {
    font-size: 15px;
    text-decoration: none;
    margin-top:10px;
}
.page-title a {
    text-decoration: none;
    color:white;
    transition: color ease 1ms;
}
.page-title a:hover {
    color:blueviolet;
}

.page-title h3 {
    font-size: 32px;
    padding-bottom: 10px;
}

.main{
    height: 1700px;
}

.main-page {
    width:1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 30px;
}
.nav-search{
    flex: 2.5;
    background-color:white;
    height:50px
}
.course-card {
    flex: 7.5;
    
    height: 50px;
}

.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.search-form{
    position: relative;
    width:100%;
    
}
.search-input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    cursor:pointer;

}
.icons{
    position: absolute;
    right:10px;
    padding: 10px;
    top: 3px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.search-input::placeholder{
    padding-left: 20px;
    font-size: 16px;
}

.list li a {
    text-decoration: none;
}

.navlist .list{
    display: flex;
    flex-direction: column;
    
}

.list .listitems:hover a{
    color:#783df0;
    transform: translateX(15px);
}

.list .listitems {
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    border:1px solid rgba(0, 0, 0, 0.09);
    border-bottom:none ;
    padding:0px 20px;
    
}

.list .listitems a {
    transform: translateX(0px);
    transition: transform linear 500ms;
}

.list .listitems:last-child{
    border-bottom:1px solid rgba(0, 0, 0, 0.09);;
}
.navlist h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}


.menulist{
    display: flex;
    width:100%;
    height:40px;
    background-color:white;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.listoption {
    display: flex;
    gap : 10px;
}

.listoption a{
    text-decoration: none;
}

.listoptionitems{
    display:flex;
    font-size: 15px;
    align-items: center;
    padding:0px 18px;
    
}

.listoption .listoptionitems:hover{
    background-color: #783df0;
    color:white;
    border-radius: 18px;
    line-height: 40px;
    
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 66px;

}
.card{
    display: flex;
    gap:30px;
    width: 100%;
    min-height: 100%;
    background-color: white;
}
.carditems{
    flex:0 0 calc(100%-60px)/3;
    background-color: white;
    height : 440px;
    width: 33%;
    border: 1px solid rgba(0, 0, 0, 0.09);
    overflow: hidden;
    flex-wrap: wrap;
}

.carditems .image:hover ~ .avartar > h2 {
    color: #b80257;
}

.image {
    position:relative;
}
.image img{
    position: relative;
    width:100%;
    height: 215px;
    transition: transform 0.5s ease;
}

.image img:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.triangle{
    position: absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-top:80px solid #b80257;
    border-left:80px solid transparent ;
}

.triangle i {
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
    left: -29px;
    top: -65px;
    font-size: 18px;
    transform: rotate(6deg);
}

.avartar h2 {
    margin:20px 10px 20px 10px;
    font-weight: 700;
    font-size: 18px;
    color :#464646;
}

.avartar h2:hover {
    color: #b80257;
}

.avartar p{
    font-size: 16px;
    margin:10px 10px 20px 10px;
    line-height: 25px;
    color : grey;
}

.detail {
    display:flex;
    gap:10px;
    justify-content: space-around;
    padding : 0px 10px;

}

.detailavarta img {
    float:left;
}

.detailavarta p {
    float: left;
}

.view {
    display: flex;
    text-align: center;
    justify-content: center;
}

.view i {
    margin-top: 13px;
    font-size: 15px;
}

.price {
    display: flex;
    align-items: center;
}

.icons-price{
    display: flex;
    align-items: center;    
}

.price button {
    position: relative;
    padding-bottom : 15px;
    margin-bottom : 15px;
    font-size: 16px ;
    background-color: #783df0;
    padding:5px;
    border-radius: 15px;
    width :68px;
    color :white;
    transform: translateY(0px);
    transition: transform ease 500ms;
}

.price button::after {
    position: absolute;
    display: flex;
    content:"";
    top:32px;
    left: -10px;
    width: 90px;
    height: 8px;
    margin-top:3px;
    background-color: rgba(0, 0, 0, 0.5); /* Nền đen trong suốt */
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
    border-radius: 50%;
    display: none;
}





.price button:hover {
    transform: translateY(-5px);
}

.price button:hover::after {
    display: block;
}


.icons-price button {
    position: relative;
    padding-bottom : 15px;
    margin-bottom : 15px;
    font-size: 16px ;
    background-color:#b80257;
    padding:5px;
    border-radius: 15px;
    width :68px;
    color :white;
    transform: translateY(0px);
    transition: transform ease 500ms;
}

.icons-price button:after{
    position: absolute;
    display: flex;
    content:"";
    top:32px;
    left: -10px;
    width: 90px;
    height: 8px;
    margin-top:3px;
    background-color: rgba(0, 0, 0, 0.5); /* Nền đen trong suốt */
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
    border-radius: 50%;
    display: none;
}

.icons-price button:hover {
    transform: translateY(-10px);
}

.icons-price button:hover::after {
    display: block;
}
.page{
    margin-top: 66px;
}

.listpage {
    display: flex;
    gap :20px;
    font-size: 16px;
    align-items: center;
    flex-direction:row;
    
}

.listpage .pageactive {
    width: 30px;
    height: 30px;
    display: flex; /* Bắt buộc để justify + align hoạt động */
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    color : rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    transition:border ease 1s , color ease 1s;
    
}

.listpage .pageactivelast{
    width: 60px;
    height: 30px;
    display: flex; /* Bắt buộc để justify + align hoạt động */
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    color : white;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    background-color: #783df0;
}

.listpage .pageactive:hover{
    border: 1px solid #783df0 ;
    color:#783df0
}

.footer{
    width : 100%;
    height : 550px;
    background-color: black;
}

.footer-wrapper{
    width:1170px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}



.sholar p {
    color: grey;
    font-size: 15px;
    line-height: 20px;
    margin-bottom:25px;
}
.sholar img {
     margin:8px 0 18px 0;
}

.provides {
    font-size: 15px;
    line-height: 20px;
    color:grey;

}

.box h2 {
    
    font-size: 20px ;
    font-weight:700;
    color:#fff;
    margin:8px 0 25px 0;
}

.listbox li a{
    color: grey;
    font-size: 15px;
    line-height: 30px;
    transition: color ease 500ms;
    text-decoration: none;
}

.footer-wrapper .sholar{
    width: 268px;
    height:260px;
}

.listsholar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 600px;
    height:260px;
}


.listsholar .box {
    width: 200px;
}

.SubcribeUs {
    width:268px;
    height:260px;
} 
.SubcribeUs h2{
    font-size: 20px ;
    font-weight:700;
    color:#fff;
    margin:8px 0 25px 0;
}

.SubcribeUs p {
    color: grey;
    font-size: 15px;
    line-height: 20px;
    margin-bottom:25px;
}

.SubcribeUs input {
    width: 100%;
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    border-radius: 40px;
    border : 1px solid rgba(0, 0, 0, 0.09);
    background-color: #272727;
    padding-left: 20px;
}

.SubcribeUs button {
    position:relative;
    width: 95px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    background-color: #b80257;
    line-height: 40px;
    border-radius: 20px ;
    overflow: hidden;
    z-index:1;
}
.SubcribeUs button span{
    position:relative;
    transition: color 0.5s ease;
    z-index: 1;
}
.SubcribeUs button::after {
    position :absolute;
    content:"";
    top:50%;
    left:50%;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
    z-index: 0;
    
}

.SubcribeUs button:hover span {
    color: #b80257; /* Đổi màu chữ khi hover */
}

 .SubcribeUs button:hover::after {
    width: 300px;
    height: 300px;
}


.SubcribeUs .email{
    cursor: pointer;
}

.scrollbar {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #b80257;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:10px;
    right:10px;
    font-size: 18px;
}

#top:target ~ #scrollbar {
    display: none;
}

.listbox li a:hover{
    color: #b80257;
}

